<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version:   Build Version: 1.6.8425.33125
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->

<robot
  name="prisma_walker">
  <material name="Black">
	  <color rgba="0.0 0.0 0.0 1.0"/>
	</material>
  <material name="Gray">
	  <color rgba="0.5 0.5 0.5 1.0"/>
	</material>

  <material name="Red">
  	<color rgba="0.8 0.0 0.0 1.0"/>
  </material>
  <material name="Green">
  	<color rgba="0.0 0.8 0.0 1.0"/>
  </material>

  <material name="White">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>

  <material name="Blue">
    <color rgba="0.0 0.0 0.8 1.0"/>
  </material>
  <link name="base_link" />
  <link
    name="supporto">
    <inertial>
      <origin
        xyz="0.00014265 0.009764 0.014054"
        rpy="0 0 0" />
      <mass
        value="0.23072" />
      <inertia
        ixx="0.00019391"
        ixy="0"
        ixz="0"
        iyy="0.00095225"
        iyz="0"
        izz="0.00096689" />
    </inertial>
    <visual>
      <origin
        xyz="-0.055 0.29 -0.14"
        rpy="0 1.57 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj/supporto.obj" />
      </geometry>
      <material name="Black"/>
    </visual>
    <collision>
      <origin
        xyz="-0.055 0.29 -0.14"
        rpy="0 1.57 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj/supporto.obj" />
      </geometry>
    </collision>
  </link>
  <joint name="dummy_joint" type="fixed">
    <origin xyz="0 0.0 0.0" rpy="-1.57 0 1.57" />
    <parent link="base_link" />
    <child link="supporto" />
  </joint>
  <!--<link
    name="raspbarry">
    <inertial>
      <origin
        xyz="0.014991 -0.0011693 0.0048701"
        rpy="0 0 0" />
      <mass
        value="0.017178" />
      <inertia
        ixx="5.1363E-06"
        ixy="0"
        ixz="-1.0943E-06"
        iyy="1.0804E-05"
        iyz="0"
        izz="1.5157E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/raspbarry.obj" />
      </geometry>
      <material name="Green"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/raspbarry.obj" />
      </geometry>
    </collision>
  </link>-->
  <joint
    name="supp_rasp"
    type="fixed">
    <origin
      xyz="-0.081131 -0.027621 0.02523595"
      rpy="1.5708 1.5708 0" />
    <parent
      link="supporto" />
    <child
      link="batteria" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="batteria">
    <inertial>
      <origin
        xyz="0.019506 0.021535 0.017948"
        rpy="0 0 0" />
      <mass
        value="0.093162" />
      <inertia
        ixx="2.0015E-05"
        ixy="0"
        ixz="0"
        iyy="5.0365E-05"
        iyz="0"
        izz="5.0365E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/batteria.obj" />
      </geometry>
      <material name="Black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/batteria.obj" />
      </geometry>
    </collision>
  </link>
  <!--<joint
    name="supp_batt"
    type="fixed">
    <origin
      xyz="-0.00066662 -0.032621 0.005"
      rpy="1.5708 1.5708 0" />
    <parent
      link="supporto" />
    <child
      link="raspbarry" />
    <axis
      xyz="0 0 0" />
  </joint>-->
  <link
    name="anca">
    <inertial>
      <origin
        xyz="8.8871E-05 -7.9271E-07 1.0472E-08"
        rpy="0 0 0" />
      <mass
        value="0.0098612" />
      <inertia
        ixx="1.948E-07"
        ixy="0"
        ixz="0"
        iyy="7.4144E-05"
        iyz="0"
        izz="7.4144E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/anca.obj" />
      </geometry>
      <material name="Grey"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/anca.obj" />
      </geometry>
    </collision>
  </link>
  <joint
    name="supp_anca"
    type="fixed">
    <origin
      xyz="0.0013686 0.020379 0.0097641"
      rpy="1.5708 0 0" />
    <parent
      link="supporto" />
    <child
      link="anca" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="conn_anca_top">
    <inertial>
      <origin
        xyz="0.047243 -0.0087033 -0.01"
        rpy="0 0 0" />
      <mass
        value="0.013612" />
      <inertia
        ixx="9.3102E-07"
        ixy="1.3999E-07"
        ixz="0"
        iyy="2.5188E-06"
        iyz="0"
        izz="2.2275E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/conn_anca_top.obj" />
      </geometry>
      <material name="Black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/conn_anca_top.obj" />
      </geometry>
    </collision>
  </link>
  <joint
    name="anca_conn_anca_top"
    type="fixed">
    <origin
      xyz="-0.058 -0.047822 0.0040879"
      rpy="-1.5708 0.087266 1.5708" />
    <parent
      link="anca" />
    <child
      link="conn_anca_top" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="conn_retro_mot_1">
    <inertial>
      <origin
        xyz="0.015549 -0.065012 -0.020951"
        rpy="0 0 0" />
      <mass
        value="0.071878" />
      <inertia
        ixx="2.8565E-05"
        ixy="0"
        ixz="4.5986E-06"
        iyy="2.8594E-05"
        iyz="0"
        izz="3.0909E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/conn_retro_mot_1.obj" />
      </geometry>
      <material name="Black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/conn_retro_mot_1.obj" />
      </geometry>
    </collision>
  </link>
  <joint
    name="anca_conn_retro_mot_1"
    type="fixed">
    <origin
      xyz="-0.014996 0.065 0"
      rpy="0 1.5708 0" />
    <parent
      link="anca" />
    <child
      link="conn_retro_mot_1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="motore_1">
    <inertial>
      <origin
        xyz="0.015005 0.0017747 1.067E-05"
        rpy="0 0 0" />
      <mass
        value="0.1595" />
      <inertia
        ixx="5.6573E-05"
        ixy="-4.5751E-06"
        ixz="0"
        iyy="8.4408E-05"
        iyz="0"
        izz="0.0001337" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj/motore_1.obj" />
      </geometry>
      <material name="Red"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj/motore_1.obj" />
      </geometry>
    </collision>
  </link>
  <joint
    name="anca_mot_1"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 1.5708 0" />
    <parent
      link="anca" />
    <child
      link="motore_1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="0.015937 1.2169E-07 0.0075702"
        rpy="0 0 0" />
      <mass
        value="0.020502" />
      <inertia
        ixx="4.5766E-06"
        ixy="0"
        ixz="-6.7116E-07"
        iyy="5.1497E-06"
        iyz="0"
        izz="8.5716E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/link_1.obj" />
      </geometry>
      <material name="Black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/link_1.obj" />
      </geometry>
    </collision>
  </link>
  <joint
    name="giunto_1"
    type="revolute">
    <origin
      xyz="0 0 0.01605"
      rpy="0 0 0" />
    <parent
      link="motore_1" />
    <child
      link="link_1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="7"
      velocity="0.5" />
    <dynamics
      damping="0.0"
      friction="0.0" />
  </joint>
  <link
    name="conn_link_1">
    <inertial>
      <origin
        xyz="2.2456E-09 0.0096339 -4.157E-13"
        rpy="0 0 0" />
      <mass
        value="0.010913" />
      <inertia
        ixx="7.2742E-07"
        ixy="0"
        ixz="0"
        iyy="2.2659E-06"
        iyz="0"
        izz="2.0176E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/conn_link_1.obj" />
      </geometry>
      <material name="Black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/conn_link_1.obj" />
      </geometry>
    </collision>
  </link>
  <joint
    name="link_conn_1"
    type="fixed">
    <origin
      xyz="0.024 0 0.02"
      rpy="1.5708 0 -1.5708" />
    <parent
      link="link_1" />
    <child
      link="conn_link_1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="albero_1">
    <inertial>
      <origin
        xyz="2.8909E-06 2.2375E-08 -0.0145"
        rpy="0 0 0" />
      <mass
        value="0.0087934" />
      <inertia
        ixx="1.1835E-05"
        ixy="0"
        ixz="0"
        iyy="1.1835E-05"
        iyz="0"
        izz="7.806E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/albero_1.obj" />
      </geometry>
      <material name="Grey"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/albero_1.obj" />
      </geometry>
    </collision>
  </link>
  <joint
    name="link_albero_1"
    type="fixed">
    <origin
      xyz="0.0595 0 0.02"
      rpy="1.5708 0 -1.5708" />
    <parent
      link="link_1" />
    <child
      link="albero_1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="conn_albero_1_bot">
    <inertial>
      <origin
        xyz="0.047156 -0.0096928 1.9436E-09"
        rpy="0 0 0" />
      <mass
        value="0.010913" />
      <inertia
        ixx="7.391E-07"
        ixy="1.3358E-07"
        ixz="0"
        iyy="2.2542E-06"
        iyz="0"
        izz="2.0176E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/conn_albero_1_bot.obj" />
      </geometry>
      <material name="Black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/conn_albero_1_bot.obj" />
      </geometry>
    </collision>
  </link>
  <joint
    name="alb_conn_bot_1"
    type="fixed">
    <origin
      xyz="-0.047996 -9.5544E-05 -0.0645"
      rpy="-3.1416 0 0" />
    <parent
      link="albero_1" />
    <child
      link="conn_albero_1_bot" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="conn_retro_m2">
    <inertial>
      <origin
        xyz="0.0090689 -3.84E-07 -0.0061112"
        rpy="0 0 0" />
      <mass
        value="0.030886" />
      <inertia
        ixx="9.2095E-06"
        ixy="0"
        ixz="1.4473E-06"
        iyy="1.1537E-05"
        iyz="0"
        izz="1.9001E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/conn_retro_m2.obj" />
      </geometry>
      <material name="Black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/conn_retro_m2.obj" />
      </geometry>
    </collision>
  </link>
  <joint
    name="albero_conn_retro_m2"
    type="fixed">
    <origin
      xyz="0 -0.02 -0.089"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="albero_1" />
    <child
      link="conn_retro_m2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="motore_2">
    <inertial>
      <origin
        xyz="0.015005 -0.0017747 -1.067E-05"
        rpy="0 0 0" />
      <mass
        value="0.1595" />
      <inertia
        ixx="5.6573E-05"
        ixy="4.5751E-06"
        ixz="0"
        iyy="8.4408E-05"
        iyz="0"
        izz="0.0001337" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="3.14 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj/motore_2.obj" />
      </geometry>
      <material name="Red"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj/motore_2.obj" />
      </geometry>
    </collision>
  </link>
  <joint
    name="conn_retro_motore_2"
    type="fixed">
    <origin
      xyz="0 0 0.016"
      rpy="3.1416 0 0" />
    <parent
      link="conn_retro_m2" />
    <child
      link="motore_2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="0.015937 1.2169E-07 0.0075702"
        rpy="0 0 0" />
      <mass
        value="0.020502" />
      <inertia
        ixx="4.5766E-06"
        ixy="0"
        ixz="-6.7116E-07"
        iyy="5.1497E-06"
        iyz="0"
        izz="8.5716E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/link_2.obj" />
      </geometry>
      <material name="Black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/link_2.obj" />
      </geometry>
    </collision>
  </link>
  <joint
    name="giunto_2"
    type="revolute">
    <origin
      xyz="0 0 -0.01605"
      rpy="3.1416 0 3.1416" />
    <parent
      link="motore_2" />
    <child
      link="link_2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.7"
      upper="1.57"
      effort="7"
      velocity="0.5" />
    <dynamics
      damping="0.0"
      friction="0.0" />
  </joint>
  <link
    name="albero_2">
    <inertial>
      <origin
        xyz="-2.3642E-07 2.2385E-08 -0.027"
        rpy="0 0 0" />
      <mass
        value="0.003516" />
      <inertia
        ixx="8.886E-07"
        ixy="0"
        ixz="0"
        iyy="8.8862E-07"
        iyz="0"
        izz="3.1224E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/albero_2.obj" />
      </geometry>
      <material name="Grey"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/albero_2.obj" />
      </geometry>
    </collision>
  </link>
  <joint
    name="link_albero_2"
    type="fixed">
    <origin
      xyz="0.0105 0 0.02"
      rpy="-1.5708 0 1.5708" />
    <parent
      link="link_2" />
    <child
      link="albero_2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="conn_lungo">
    <inertial>
      <origin
        xyz="3.9315E-08 0.0095026 -0.0135"
        rpy="0 0 0" />
      <mass
        value="0.026916" />
      <inertia
        ixx="6.0272E-06"
        ixy="0"
        ixz="0"
        iyy="1.0436E-05"
        iyz="0"
        izz="5.5365E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/conn_lungo.obj" />
      </geometry>
      <material name="Black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/conn_lungo.obj" />
      </geometry>
    </collision>
  </link>
  <joint
    name="albero_conn_lungo"
    type="fixed">
    <origin
      xyz="0 0 -0.0135"
      rpy="0 0 3.1416" />
    <parent
      link="albero_2" />
    <child
      link="conn_lungo" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="conn_dyn_top">
    <inertial>
      <origin
        xyz="0.026213 -0.025494 0.062959"
        rpy="0 0 0" />
      <mass
        value="0.035451" />
      <inertia
        ixx="1.5367E-05"
        ixy="0"
        ixz="0"
        iyy="6.2758E-06"
        iyz="1.7445E-06"
        izz="1.9222E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/conn_dyn_top.obj" />
      </geometry>
      <material name="Black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/conn_dyn_top.obj" />
      </geometry>
    </collision>
  </link>
  <joint
    name="conn_lungo_conn_dyn_top"
    type="fixed">
    <origin
      xyz="0.026213 -0.055813 -0.091918"
      rpy="0 0 3.1416" />
    <parent
      link="conn_lungo" />
    <child
      link="conn_dyn_top" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="dynamixel">
    <inertial>
      <origin
        xyz="4.2026E-08 -0.010123 0.0013855"
        rpy="0 0 0" />
      <mass
        value="0.031115" />
      <inertia
        ixx="7.7121E-06"
        ixy="0"
        ixz="0"
        iyy="3.7658E-06"
        iyz="0"
        izz="6.2398E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/dynamixel.obj" />
      </geometry>
      <material name="Black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/dynamixel.obj" />
      </geometry>
    </collision>
  </link>
  <joint
    name="conn_dyn_top_dyn"
    type="fixed">
    <origin
      xyz="0.026213 -0.017913 0.038418"
      rpy="-3.1416 0 0" />
    <parent
      link="conn_dyn_top" />
    <child
      link="dynamixel" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="-3.7679E-07 3.4352E-08 -0.0014263"
        rpy="0 0 0" />
      <mass
        value="0.0077669" />
      <inertia
        ixx="8.4901E-07"
        ixy="0"
        ixz="0"
        iyy="8.4913E-07"
        iyz="0"
        izz="1.6363E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/link_3.obj" />
      </geometry>
      <material name="Black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/link_3.obj" />
      </geometry>
    </collision>
  </link>
  <joint
    name="giunto_3"
    type="revolute">
    <origin
      xyz="0 0 0.02555"
      rpy="0 0 -1.5708" />
    <parent
      link="dynamixel" />
    <child
      link="link_3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.7"
      upper="0.7"
      effort="1"
      velocity="0.7" />
    <dynamics
      damping="0.0"
      friction="0.0" />
  </joint>
  <link
    name="flangia_albero_3">
    <inertial>
      <origin
        xyz="0.011554 0.0026322 0.0051394"
        rpy="0 0 0" />
      <mass
        value="0.0080427" />
      <inertia
        ixx="7.1E-07"
        ixy="0"
        ixz="0"
        iyy="7.1605E-07"
        iyz="0"
        izz="1.1658E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/flangia_albero_3.obj" />
      </geometry>
	<material name="Black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/flangia_albero_3.obj" />
      </geometry>
    </collision>
  </link>
  <joint
    name="link_flangia_albero_3"
    type="fixed">
    <origin
      xyz="0.0024959 -0.011702 0.002"
      rpy="0 0 1.5708" />
    <parent
      link="link_3" />
    <child
      link="flangia_albero_3" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="albero_3">
    <inertial>
      <origin
        xyz="-2.3641E-07 2.2381E-08 -0.03"
        rpy="0 0 0" />
      <mass
        value="0.0042191" />
      <inertia
        ixx="1.4531E-06"
        ixy="0"
        ixz="0"
        iyy="1.4531E-06"
        iyz="0"
        izz="3.7469E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/albero_3.obj" />
      </geometry>
      <material name="Grey"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/albero_3.obj" />
      </geometry>
    </collision>
  </link>
  <joint
    name="flangia_albero3"
    type="fixed">
    <origin
      xyz="0.011554 0.0026421 0.002"
      rpy="-3.1416 0 0" />
    <parent
      link="flangia_albero_3" />
    <child
      link="albero_3" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="piede_interno">
    <inertial>
      <origin
        xyz="2.2117E-05 3.1807E-08 0.01214"
        rpy="0 0 0" />
      <mass
        value="0.26488" />
      <inertia
        ixx="0.0001957"
        ixy="0"
        ixz="0"
        iyy="0.00041061"
        iyz="0"
        izz="0.0005439" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/piede_interno.obj" />
      </geometry>
      <material name="Black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/piede_interno.obj" />
      </geometry>
    </collision>
  </link>
  
  <joint
    name="albero_piede_interno"
    type="fixed"
    dont_collapse="true">
    <origin
      xyz="0 0 -0.08"
      rpy="0 0 0" />
    <parent
      link="albero_3" />
    <child
      link="piede_interno" />
    <axis xyz="0 0 0" />
  </joint>
  <link
    name="aggancio_sx">
    <inertial>
      <origin
        xyz="0.00015813 -3.4993E-05 -0.011003"
        rpy="0 0 0" />
      <mass
        value="0.0083474" />
      <inertia
        ixx="1.239E-06"
        ixy="0"
        ixz="0"
        iyy="1.231E-06"
        iyz="0"
        izz="5.4491E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/aggancio_sx.obj" />
      </geometry>
      <material name="Black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/aggancio_sx.obj" />
      </geometry>
    </collision>
  </link>
  <joint
    name="anca_agg_sx"
    type="fixed">
    <origin
      xyz="-0.147 0 0"
      rpy="0 0 -3.1416" />
    <parent
      link="anca" />
    <child
      link="aggancio_sx" />
    <axis
      xyz="0 0 0" />
    <!--  <limit
      lower="-0.01"
      upper="0.01"
      effort="0.01"
      velocity="0.01" />
    <dynamics
      damping="0.5"
      friction="0.5" />-->
  </joint>
  <link
    name="gamba_sx">
    <inertial>
      <origin
        xyz="0 4.7601E-08 -0.13524"
        rpy="0 0 0" />
      <mass
        value="0.012974" />
      <inertia
        ixx="7.8096E-05"
        ixy="0"
        ixz="0"
        iyy="7.8095E-05"
        iyz="0"
        izz="3.2776E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/gamba_sx.obj" />
      </geometry>
      <material name="Grey"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/gamba_sx.obj" />
      </geometry>
    </collision>
  </link>
  <joint
    name="agg_gamba_sx"
    type="fixed">
    <origin
      xyz="0.000125 0 -0.011629"
      rpy="0 0 3.1416" />
    <parent
      link="aggancio_sx" />
    <child
      link="gamba_sx" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="piede_sx">
    <inertial>
      <origin
        xyz="4.3533E-06 -7.3298E-09 0.013674"
        rpy="0 0 0" />
      <mass
        value="0.165" />
      <inertia
        ixx="0.00026466"
        ixy="0"
        ixz="0"
        iyy="4.8344E-05"
        iyz="0"
        izz="0.00027022" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/piede_sx.obj" />
      </geometry>
      <material name="Black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/piede_sx.obj" />
      </geometry>
    </collision>
  </link>
  <joint
    name="gamba_piede_sx"
    type="fixed">
    <origin
      xyz="-0.0002 -0.0002 -0.295"
      rpy="0 0 0" />
    <parent
      link="gamba_sx" />
    <child
      link="piede_sx" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="aggancio_dx">
    <inertial>
      <origin
        xyz="0.00015813 3.528E-05 -0.011003"
        rpy="0 0 0" />
      <mass
        value="0.0083474" />
      <inertia
        ixx="1.239E-06"
        ixy="0"
        ixz="0"
        iyy="1.231E-06"
        iyz="0"
        izz="5.4491E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/aggancio_dx.obj" />
      </geometry>
      <material name="Black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/aggancio_dx.obj" />
      </geometry>
    </collision>
  </link>
  <joint
    name="anca_agg_dx"
    type="fixed">
    <origin
      xyz="0.147 0 0"
      rpy="0 0 0" />
    <parent
      link="anca" />
    <child
      link="aggancio_dx" />
    <axis
      xyz="0 0 0" />
    <!--<limit
      lower="-0.01"
      upper="0.01"
      effort="0.01"
      velocity="0.01" />
    <dynamics
      damping="0.5"
      friction="0.5" />-->
  </joint>
  <link
    name="gamba_dx">
    <inertial>
      <origin
        xyz="2.7756E-17 4.7601E-08 -0.13524"
        rpy="0 0 0" />
      <mass
        value="0.012974" />
      <inertia
        ixx="7.8096E-05"
        ixy="0"
        ixz="0"
        iyy="7.8095E-05"
        iyz="0"
        izz="3.2776E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/gamba_dx.obj" />
      </geometry>
      <material name="Grey"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/gamba_dx.obj" />
      </geometry>
    </collision>
  </link>
  <joint
    name="agg_gamba_dx"
    type="fixed">
    <origin
      xyz="0.000125 0 -0.011629"
      rpy="0 0 0" />
    <parent
      link="aggancio_dx" />
    <child
      link="gamba_dx" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="piede_dx">
    <inertial>
      <origin
        xyz="4.3533E-06 -7.3298E-09 0.013674"
        rpy="0 0 0" />
      <mass
        value="0.165" />
      <inertia
        ixx="0.00026466"
        ixy="0"
        ixz="0"
        iyy="4.8344E-05"
        iyz="0"
        izz="0.00027022" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/piede_dx.obj" />
      </geometry>
      <material name="Black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://prisma_walker/meshes/obj2/piede_dx.obj" />
      </geometry>
    </collision>
  </link>
  <joint
    name="gamba_piede_dx"
    type="fixed">
    <origin
      xyz="0.0002 -0.0002 -0.295"
      rpy="0 0 0" />
    <parent
      link="gamba_dx" />
    <child
      link="piede_dx" />
    <axis
      xyz="0 0 0" />
  </joint>

   <gazebo> <!--load the control manager-->
      <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
      <parameters>/home/dev/ANYmal_Ros2/src/prisma_walker/config/pos_controller.yaml</parameters>
      <controller_manager_prefix_node_name>controller_manager</controller_manager_prefix_node_name>
      </plugin>
    </gazebo>



<!--Install with sudo apt install ros-humble-ign-ros2-control-->
<ros2_control name="GazeboSystem" type="system">
  <!--
  <hardware>
        <xacro:if value="$(arg use_gz_ros2_control)">
            <plugin>gz_ros2_control/GazeboSimSystem </plugin>  
        <xacro:else>
            <plugin>ign_ros2_control/IgnitionSystem</plugin> 
        </xacro:else>
  </hardware>
    -->
  <hardware>
            <plugin>ign_ros2_control/IgnitionSystem</plugin> 
  </hardware>


  <joint name="giunto_1">
      <command_interface name="position"/> <!--to set the goal-->
      <command_interface name="velocity"/>
      <state_interface name="position"> <!--to read the value trough the joint-state-broadcaster-->
        <!-- initial position for the mock system and simulation -->
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
  </joint>

  <joint name="giunto_2">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <state_interface name="position">
        <!-- initial position for the mock system and simulation -->
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
  </joint>

    <joint name="giunto_3">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <state_interface name="position">
        <!-- initial position for the mock system and simulation -->
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
  </joint>

  </ros2_control>
</robot>

 
